body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}
.origin-logo {
	font-family: 'Roboto', sans-serif;
}
.origin-logo sub {
	bottom: 0;
	font-weight: 100;
	margin: 0 0 0 5px;
}
.origin-main {
	float: left;
	width: calc(100% - 300px);
	padding: 0 20px;
}
.origin-sidenav {
	position: fixed;
	right: 10px;
	height: 87%;
	float: left;
	width: 300px;
	padding: 0 7px 0 10px;
	overflow: scroll;
}
.origin-sidenav .origin-sidenav-ul {
	font-size: 18px;
	border-left: 1px solid #eee;
	list-style: none;
	padding: 0 0 0 20px;
}
.origin-sidenav .origin-sidenav-ul li {
	word-break: break-all;
	line-height: 1.2;
	margin: 10px 0;
}
.navbar {
	box-shadow: 0 2px 4px rgba(0,0,0,.23);
}
.code-area {
	display: none;
}
.ex-code-prettify {
	margin: 0;
}